#navbar li
{
  margin: 0.125em;
  padding: 0.125em;
  border: dotted silver 1px;
  display: inline-block;
  color: blue;
  cursor: pointer;
  &.active
  {
    background: #efefef;
    border: dotted gray 1px;
  }
}

.output
{
  display: none;
  &.active
  {
    display: block;
  }
}

